body {
  margin: 0;
  padding: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
  margin: 0 auto;
  background: #111;
  border: 2px solid #fff;
}

#restartBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 18px;
  background: limegreen;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

#restartBtn:hover {
  background: green;
}

#title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
}

#controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
  user-select: none;
}

#controls button {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  font-size: 24px;
}
